@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


body {
    background-color: #DFD9E2;
    
    /*align-items: center;*/
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    color: #865B9A;
}

h1, h2 {
    text-decoration: underline;
    text-align: center;
}

:is(p, ul) {
    font-weight: 300;
    color: #535865;
}

ul {
    list-style-type: square;
}


#introduction {
    font-weight: bold;
}

button[type="button"]:hover {
    color: #DFD9E2;
    background-color: #865B9A;
}